@use "../global" as global;

.p-portfolios {
    padding: 0 30px;
    margin-top: 128px;
    position: relative;

    @include global.mq(tb) {
        padding: 40px 30px;
        margin-top: 120px;
    }

    @include global.mq(sp) {
        padding: 40px 20px;
        margin-top: 60px;
    }

    &::before {
        content: "PORTFOLIOS";
        font-size: 100px;
        color: #F0F0F0; 
        line-height: 1;
        font-family: global.$ff-en;
        font-weight: global.$black;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        @include global.mq(tb) {
            font-size: 80px;
        }

        @include global.mq(sp) {
            font-size: 50px;
        }
    }
}

.p-portfolios__inner {
    max-width: 1100px;
    margin: 0 auto;
}

.p-portfolios__title {
    transform: translateY(86px);

    @include global.mq(tb) {
        transform: translateY(28px);
    }

    @include global.mq(sp) {
        transform: translateY(2px);
    }
}

.p-portfolios__button {
    text-align: center;
    margin-top: 100px;

    @include global.mq(tb) {
        margin-top: 70px;
      }


      @include global.mq(sp) {
        margin-top: 50px;
      }
}